<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>
<web-app>
	<listener>
                <listener-class>jp.co.lastminute.cart.CartOutServlet</listener-class>
        </listener>
  	<servlet>
    		<servlet-name>action</servlet-name>
    		<display-name>Action</display-name>
    		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    		<init-param>
      			<param-name>application</param-name>
      			<param-value>jp.co.lastminute.ApplicationResources</param-value>
    		</init-param>
    		<init-param>
      			<param-name>config</param-name>
      			<param-value>/WEB-INF/struts-config.xml</param-value>
    		</init-param>
    		<init-param>
      			<param-name>debug</param-name>
      			<param-value>2</param-value>
    		</init-param>
    		<init-param>
      			<param-name>detail</param-name>
      			<param-value>2</param-value>
    		</init-param>
    		<init-param>
      			<param-name>validate</param-name>
      			<param-value>true</param-value>
    		</init-param>
		<init-param>
                	<param-name>mode</param-name>
                	<param-value>test</param-value>
        	</init-param>
    		<load-on-startup>1</load-on-startup>
  	</servlet>
<!-- Menu Create -->	
  	<servlet>
    		<servlet-name>menu</servlet-name>
    		<display-name>menu</display-name>
    		<servlet-class>jp.co.lastminute.menu.XmlDatabaseServlet</servlet-class>
    		<init-param>
      			<param-name>debug</param-name>
      			<param-value>0</param-value>
    		</init-param>
    		<load-on-startup>2</load-on-startup>
  	</servlet>
	<servlet>
    		<servlet-name>SendManagerServlet</servlet-name>
    		<display-name>SendManagerServlet</display-name>
    		<servlet-class>jp.co.yobrain.util.rpc.SendManagerServlet</servlet-class>
    		<init-param>
      		<param-name>debug</param-name>
      		<param-value>1</param-value>
    		</init-param>
    		<load-on-startup>3</load-on-startup>
  	</servlet>
  	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<display-name>FileUploadServlet</display-name>
		<servlet-class>jp.co.lastminute.maintenance.util.FileUploadServlet</servlet-class>
  	</servlet>
	<servlet>
                <servlet-name>XmlDatabaseServlet</servlet-name>
                <display-name>XmlDatabaseServlet</display-name>
                <servlet-class>jp.co.lastminute.maintenance.XmlDatabaseServlet</servlet-class>
        </servlet>
	<servlet>
                <servlet-name>XmlReadServlet</servlet-name>
                <display-name>XmlReadServlet</display-name>
                <servlet-class>jp.co.lastminute.maintenance.XmlReadServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
        </servlet>
	<servlet>
    		<servlet-name>CartInStream</servlet-name>
     		<display-name>CartInStream</display-name>
     		<servlet-class>jp.co.lastminute.cart.CartInServlet</servlet-class>
     		<init-param>
        		<param-name>debug</param-name>
        		<param-value>1</param-value>
     		</init-param>
     		<load-on-startup>2</load-on-startup>
  	</servlet>
	<servlet>
                <servlet-name>CardServlet</servlet-name>
                <display-name>CardServlet</display-name>
                <servlet-class>jp.co.lastminute.cardauth.CardAuthServlet</servlet-class>
                <init-param>
                        <param-name>debug</param-name>
                        <param-value>1</param-value>
                </init-param>
                <load-on-startup>0</load-on-startup>
        </servlet>
  	<servlet>
    		<servlet-name>ConstentsCreateServlet</servlet-name>
    		<display-name>ConstentsCreateServlet</display-name>
    		<servlet-class>jp.co.lastminute.ConstentsCreateServlet</servlet-class>
    		<init-param>
      			<param-name>debug</param-name>
      			<param-value>0</param-value>
    		</init-param>
    		<load-on-startup>6</load-on-startup>
  	</servlet>
	<servlet>
                <servlet-name>ContextReloadServlet</servlet-name>
                <display-name>ContextReloadServlet</display-name>
                <servlet-class>jp.co.lastminute.maintenance.ContextReloadServlet</servlet-class>
                <init-param>
                        <param-name>debug</param-name>
                        <param-value>0</param-value>
                </init-param>
        </servlet>
<!-- Mapping -->
 	<servlet-mapping>
    		<servlet-name>action</servlet-name>
    		<url-pattern>*.do</url-pattern>
  	</servlet-mapping>
	<servlet-mapping>
    		<servlet-name>SendManagerServlet</servlet-name>
    		<url-pattern>/SendManager</url-pattern>
  	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>CardServlet</servlet-name>
		<url-pattern>/CardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    		<servlet-name>FileUploadServlet</servlet-name>
    		<url-pattern>/maintenance/util/FileUploadServlet</url-pattern>
 	</servlet-mapping>
        <servlet-mapping>
                <servlet-name>XmlDatabaseServlet</servlet-name>
                <url-pattern>/maintenance/util/XmlDatabaseServlet</url-pattern>
        </servlet-mapping>
	<servlet-mapping>
                <servlet-name>XmlReadServlet</servlet-name>
                <url-pattern>/maintenance/util/XmlReadServlet</url-pattern>
         </servlet-mapping>
	<servlet-mapping>
    		<servlet-name>CartInStream</servlet-name>
    		<url-pattern>/CartInStream</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    		<servlet-name>ConstentsCreateServlet</servlet-name>
    		<url-pattern>/ConstentsCreateServlet</url-pattern>
  	</servlet-mapping>
	<servlet-mapping>
                <servlet-name>ContextReloadServlet</servlet-name>
                <url-pattern>/ContextReloadServlet</url-pattern>
        </servlet-mapping>
<!-- Session -->
  	<session-config>
    		<session-timeout>30</session-timeout>
  	</session-config>
  	<welcome-file-list>
    		<welcome-file>index.jhtml</welcome-file>
  	</welcome-file-list>
<!-- TagLib -->
  	<taglib>
    		<taglib-uri>/WEB-INF/app.tld</taglib-uri>
    		<taglib-location>/WEB-INF/app.tld</taglib-location>
  	</taglib>
  	<taglib>
    		<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  	</taglib>
  	<taglib>
    		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  	</taglib>
  	<taglib>
    		<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  	</taglib>
  	<taglib>
    		<taglib-uri>/WEB-INF/yobrain.tld</taglib-uri>
    		<taglib-location>/WEB-INF/yobrain.tld</taglib-location>
  	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/c-rt.tld</taglib-uri>
		<taglib-location>/WEB-INF/c-rt.tld</taglib-location>
	</taglib>
	<taglib>
                <taglib-uri>/WEB-INF/c.tld</taglib-uri>
                <taglib-location>/WEB-INF/c.tld</taglib-location>
        </taglib>
	<taglib>
                <taglib-uri>/WEB-INF/fmt-rt.tld</taglib-uri>
                <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
        </taglib>
	<taglib>
                <taglib-uri>/WEB-INF/fmt.tld</taglib-uri>
                <taglib-location>/WEB-INF/fmt.tld</taglib-location>
        </taglib>
	<taglib>
                <taglib-uri>/WEB-INF/x-rt.tld</taglib-uri>
                <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
        </taglib>
	<taglib>
                <taglib-uri>/WEB-INF/x.tld</taglib-uri>
                <taglib-location>/WEB-INF/x.tld</taglib-location>
        </taglib>
</web-app>

